/12_ArrayPersona/target/
/12_Ventana/target/
/14_EjemploSerializacion/target/
/17_Libreria/target/
/ProyectTaquilla/ProyectTaquilla/build/
/ProyectTaquilla/ProyectTaquilla/dist/
/ProyectTaquilla/ProyectTaquilla/nbproject/private/
/ProyectTaquilla/Taquilla/nbproject/private/
/ProyectTaquilla/Taquilla/build/
